<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Book </title>
</head>
<body>
    <%- include('partials/nav') %> 
    <h1> All Book </h1>
    <form action="/books">
        <select name="sort" id="sort">
            <option value="" selected disabled>--select--</option>
            <option value="category">category</option>
            <option value="title">title</option>
        </select>
        <input type="search" name="search" id="search">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <th>No. </th>
            <th>Judul</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% for(let i = 0; i < data.length; i++){ %>
                <tr>
                    <td><%= i+1 %> </td>
                    <td><%= data[i].title %> </td>
                    <td> <a href="/books/<%= data[i].id %> ">Details</a> || <a href="#">Order</a> </td>
                </tr>
            <% } %> 
        </tbody>
    </table>
</body>
</html>