<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganti Password</title>
</head>
<body>
    <form action="/password/<%= data.id %>" method="POST">
        
        <label for="password">Password Baru: </label><br>
        <input type="password" name="password" id="password"><br><br>
        
        <button type="submit" onclick="return confirm('udah yakin sama password yang baru?')  ">Change Password</button>
        <button type="reset">Cancel</button>
    </form>
</body>
</html>