<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThanK You</title>
</head>
<body>
    <h1>ThanK You</h1>
    <h3>Sudah pernah menjadi bagian dari <a href="/">Perpusonline</a> </h3>
    <br><br>
    <h2>Good luck...</h2>
</body>
</html>